﻿@model Tuple<Fuzzy.Models.Veiculos, Fuzzy.Models.PontoFuzzy[]>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Veiculos</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.X, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.X, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Item1.X, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.Y, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.Y, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Item1.Y, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.Angulo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Item1.Angulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Item1.Angulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    <div class="col-lg-8">

        <div id="myDiv" style="width: 100%">
            <!-- Plotly chart will be drawn inside this DIV -->
        </div>
    </div>

</div>

<script>
    var trace1 = {
        x: ['@Model.Item2[0].A', '@Model.Item2[0].C', '@Model.Item2[0].D', '@Model.Item2[0].B'],
        y: [0, 1, 1, 0],
        type: 'scatter'
    };
    var trace2 = {
        x: ['@Model.Item2[1].A', '@Model.Item2[1].C', '@Model.Item2[1].D', '@Model.Item2[1].B'],
        y: [0, 1, 1, 0],
        type: 'scatter'
    };
    var trace3 = {
        x: ['@Model.Item2[2].A', '@Model.Item2[2].C', '@Model.Item2[2].D', '@Model.Item2[2].B'],
        y: [0, 1, 1, 0],
        type: 'scatter'
    };
    var trace4 = {
        x: ['@Model.Item2[3].A', '@Model.Item2[3].C', '@Model.Item2[3].D', '@Model.Item2[3].B'],
        y: [0, 1, 1, 0],
        type: 'scatter'
    };
    var trace5 = {
        x: ['@Model.Item2[4].A', '@Model.Item2[4].C', '@Model.Item2[4].D', '@Model.Item2[4].B'],
        y: [0, 1, 1, 0],
        type: 'scatter'
    };
    var data = [trace1, trace2, trace3, trace4, trace5];
    Plotly.newPlot('myDiv', data);
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
